<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighborhood.mapper.AddressMapper">
    <insert id="insertAddress" parameterType="com.neighborhood.entity.Address">
        INSERT INTO address (user_id, name, phone, region, detail, is_default, create_time, update_time)
        VALUES (#{userId}, #{name}, #{phone}, #{region}, #{detail}, #{isDefault}, #{createTime}, #{updateTime})
    </insert>
</mapper>
